body {
    background-color: #232b2b;
    background-repeat: no-repeat;
    background-size: contain;
}
footer > small {
  color: antiquewhite;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  margin-top: 20%;
  height: 100px;
  width: 100%;
}
nav {
    display: flex;
    justify-content: flex-end;
}
ul.navigation {
    list-style-type: none;
    padding: 0;
}

ul.navigation li {
    display: inline-block;
    margin-left: 10px;
}

btn1 {
    border-radius: 5px;
    display: inline-block;
    margin: 0;
    color: white;
    background-color: black;
    text-decoration: none;
}
.btn-alt1 {
    border: 1px solid #dfe2ef;
    padding: 10px 30px;
}
.btn2 {
    border-radius: 5px;
    display: inline-block;
    margin: 0;
    color: white;
    background-color: black;
    text-decoration: none;
}
.btn-alt2 {
    border: 1px solid #dfe2ef;
    padding: 10px 30px;
}
.btn3 {
    border-radius: 5px;
    display: inline-block;
    margin: 0;
    color: white;
    background-color: black;
    text-decoration: none;
}
.btn-alt3 {
    border: 1px solid #dfe2ef;
    padding: 10px 30px;
}
.Introduce  {
    color: whitesmoke;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    padding: 50px;
}

.Introduce  h1 {
    color: blue;
    font-size:x-large;
}

.Introduce > h2 {
    font-size: xx-large;
}


 a{
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    border: none;
    cursor: pointer;
}
.button1{
    width: 50%;
    height: 50%;
    background-color: blue;
}
.circle {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    margin-top: 5%;
    border: 2px solid #90EE90;
    box-shadow: 0 0 5px rgba(44, 41, 196, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  #profile-pic {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .tech  h1 {
    color: #ffffff;

  }
  ul {
    list-style-type: none;
  }
  ul li {
    margin-bottom: 10px;
  }
  #project1 {
    width: 500px;
  }
  #project2 {
    width: 500px;
  }
  .icon-button1 {
    padding: 10px 20px;
    background-image: url('../images/icons8-github-24.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 16px 16px;
  }
  .icon-button2 {
    padding: 10px 20px;
    background-image: url('../images/icons8-twitter-48.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 16px 16px;
  }
  .icon-button3 {
    padding: 10px 20px;
    background-image: url('../images/icons8-linkedin-48.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 16px 16px;
  }
  .tech .social .projects {
    padding: 50px;
  }
  .tech p {
    color: antiquewhite;
  }
  .social h2 {
    color: antiquewhite;
  }
  .projects p {
    color: antiquewhite;
  }
  .projects h1 {
    color: antiquewhite;
  }