body {
    background-color: #191970;
}
.circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    margin-top: 5%;
    border: 7px solid antiquewhite;
    box-shadow: 0 0 5px rgba(44, 41, 196, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40%;
  }
  .navigation li a {
    color: antiquewhite;
    text-decoration: none;
  }
  .self-info{
    color: antiquewhite;
    padding: 50px;
    margin-left: 30%;
  }
  #profile-pic {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .github {
    display: inline-block;
    width: 30px;
    height: 30px;
  }
  
  .github img {
    width: 100%;
    height: 100%;
  }
  .linkedin {
    display: inline-block;
    width: 30px;
    height: 30px;
  }
  
  .linkedin img {
    width: 100%;
    height: 100%;
  }
  .twitter {
    display: inline-block;
    width: 30px;
    height: 30px;
  }
  
  .twitter img {
    width: 100%;
    height: 100%;
  }
  nav {
    display: flex;
    justify-content: flex-end;
  }
  ul.navigation {
    list-style-type: none;
    padding: 0;
    color: #000;
}

ul.navigation li {
    display: inline-block;
    margin-left: 10px;
}