body {
    background-image: url('../images/frontsite2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
@media (max-width: 767px) {
    body {
      background-image: url('mobile-image.jpg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
  

h4 {
    color: antiquewhite;
}

#project0 {
    width: 600px;
}

#project1 {
    width: 600px;
}

#project2 {
    width: 600px;
}

p {
    color: antiquewhite;
}