body {
    background-image: url('../images/frontsite2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

h4 {
    color: antiquewhite;
}

#project0 {
    width: 600px;
}

#project1 {
    width: 600px;
}